<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ja" }}">
  {%- include head.html -%}
  <style>@import url({{ site.baseurl }}/public/css/syntax/{{ site.highlighter-theme }}.css);</style>
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/styles.css">
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        {% include sidebar.html %}
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
